.div-layout-searchBar {
    position: absolute;
    width: 100%;
    top: 50px;
    height: 55px;
    background-color: rgb(240, 240, 240);
    border-bottom: 1px solid dimgrey;
    overflow: auto;
    z-index: 10;
}
.table-head{
    position: absolute;
    width: 100%;
    top: 105px;
    overflow: auto;
    box-shadow: 0em 0em 1em 0.1em rgba(0,0,0,20);
    z-index: 9;
}
.layout-center {
    position: absolute;
    top: calc(50px + 55px + 2em);
    bottom: 0;
    width: 100%;
    left: 0;
    height: auto;

    background: white;
    z-index: 8;
}
.searchInput{
    width: 20%;
}
.pageContainer{
    overflow: hidden;
}